.partners-area{
    padding-top: 5rem;
    padding-bottom: 7rem;
    @media #{$lg}{
        padding-top: 6rem;
        padding-bottom: 8rem;
    }
    .partners-preview{
        margin: 0 18.5rem;
        @media #{$large_mobile}{
            margin: 0 1rem;
        }
        @media #{$tab}{
            margin: 0;
        }
        @media #{$lg}{
            margin: 0 3.5rem;
        }
        @media #{$laptop}{
            margin: 0 7.5rem;
        }
    }
    .partner-logo{
        padding: 2rem 1rem 0;
        text-align: center;
    }

    .col-sm-6{
        width: 50% !important;
    }
}