
// section Tittle
.section-tittle{
    margin-bottom: 35px;
	@media #{$xs}{
		margin-bottom: 50px !important;
	}
	@media #{$sm}{
		margin-bottom: 50px !important;
	}
	span{
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 22px;
		color: #000000;
		display: inline-block;
	}
	
	h2 {
		font-size: 3.06em !important;
		display: block;
		color:$black;
		font-weight: 600;
		margin-bottom: 17px;
		line-height: 1.3;	
		@media #{$lg}{
			font-size: 2.625em  !important;
		}
		@media #{$sm}{
			font-size: 1.938em;
		}
		@media #{$xs}{
			font-size: 1.5em;
			line-height: 1.6;
		}
	
	}
	
	p{
		color: #fdfdfd;
		margin-bottom: 30px;
	}
}